In [2]:
l = [1,2,3,4,5]

In [3]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
# for else :

l1 =["sudh","krish","harry","anand"]

for i in l1:
    print(i)
else:
    print("they are best teacher and mentor in field of datat science")

sudh
krish
harry
anand
they are best teacher and mentor in field of datat science

In [5]:
l1

['sudh', 'krish', 'harry', 'anand']

In [6]:
for i in l1:
    if i=="harry":
        break
    print(i)
else:
    print("now series is breaked")

sudh
krish

In [7]:
# in above example else block code is not executed because for loop has not fully executed

In [8]:
for i in l1:
    if i=="harry":
        print(i)
else:
    print("now series is breaked")

harry
now series is breaked

In [9]:
for i in l1:
    if i=="harry":
        continue
    print(i)
else:
    print("now series is continued")

sudh
krish
anand
now series is continued

In [11]:
# continue funtion just skip the step for given condition => continue stop the code after that and push code to start again  code after continue didn't executed

In [15]:
# range() => this is a data generator function =>Excluding upper bound

In [13]:
range(5)

range(0, 5)

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [3]:
#negative data generation 

list(range(-10,0,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [7]:
# to pull data from list in reverse order : 

l1 =["sudh","krish","harry","anand"]

# to get the length of list
len(l1)

4

In [9]:
#to create list of range of length for list l1
list(range(len(l1)))

[0, 1, 2, 3]

In [11]:

#to pull element from list l1 using range and len function in normal order 
for i in range(len(l1)):
    print(l1[i])

sudh
krish
harry
anand

In [23]:

#3 to pull element from list l1 in reverse order => we will have to reverse the range 

list(range(len(l1)-1,-1,-1))


for i in range(len(l1)-1,-1,-1):
    print(l1[i])

anand
harry
krish
sudh

In [24]:
l2 = [22,33,4,4,56,7,7,8,8,90]

In [25]:
l2

[22, 33, 4, 4, 56, 7, 7, 8, 8, 90]

In [26]:
# to pull element from even index :

for i in range(0,len(l2),2):
    print(l2[i])

22
4
56
7
8

In [27]:
# to pull element from odd index :

for i in range(1,len(l2),2):
    print(l2[i])

33
4
7
8
90

In [28]:
# to sum all the element in given list :

l = [1,2,3,4,55,66,77,88,990,1012,2023]

sum(l)

4321

In [30]:
# to calculate sum of list/tuple element using for loop :


result = 0

for i in l:
    result = result +i
    
result

4321

In [32]:
s1 = "Anand Shankar Chaubey"

for i in s1:
    print(i, end="")

Anand Shankar Chaubey

In [33]:
s1 = "Anand Shankar Chaubey"

for i in s1:
    print(i)

A
n
a
n
d

S
h
a
n
k
a
r

C
h
a
u
b
e
y