In [30]:
def test():
    print("This is my first function")

In [31]:
test()

This is my first function

In [32]:
type(test())

This is my first function

NoneType

In [33]:
test()+"anand"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
def test1():
    return("This is my first return")

In [35]:
test1()

'This is my first return'

In [36]:
type(test1())

str

In [37]:
#return will provide same data type same as already used in fuction defined , while print given data type : 'NonType'

In [38]:
test1()+" Anand"

'This is my first return Anand'

In [39]:
def test3():
    return "anand", 4, 23.56, [1,2,3,4,5], {"Anand":1,"Shankar":2,"Chaubey":3}

In [40]:
test3()

('anand', 4, 23.56, [1, 2, 3, 4, 5], {'Anand': 1, 'Shankar': 2, 'Chaubey': 3})

In [41]:
# here return will provide all the element in their original data type, all combined in a tuple

In [42]:
a,b,c,d,e = test3()

# it is same as varible declaration

In [43]:
a

'anand'

In [44]:
b

4

In [45]:
c

23.56

In [46]:
d

[1, 2, 3, 4, 5]

In [47]:
e

{'Anand': 1, 'Shankar': 2, 'Chaubey': 3}

In [48]:
def test4():
    a = 3/45+2
    return a

In [49]:
test4()

2.066666666666667

In [50]:
def test5(a,b,c):
    d = a/b+c
    return d

In [51]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [52]:
# Here it is showing error in test5(), because test5() was created with arrgument a,b,c and while we call test5() , we have not provided the valid arrgument value

In [53]:
test5(3,45,2)

2.066666666666667

In [54]:
test4()==test5(3,45,2)

True

In [55]:
def test6(a,b):
    return a+b

In [56]:
test6(3,4)

7

In [57]:
test6("Anand","Chaubey")

'AnandChaubey'

In [58]:
test6 ([1,2,3,4,5,6],[7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
#write a function which can pull all the integer from a given list and store in diff list:

l = [1,2,3,4,5,6,"anand","chaubey",[1,2,3,4,5,6,7,8,9,10]]

#Medhod 1 : without usin function :
l1=[]

for i in (l):
    if type(i)==int or type(i)==float:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 6]

In [1]:
l = [1,2,3,4,5,6,"anand","chaubey",[1,2,3,4,5,6,7,8,9,10]]

#Medhod 1 : with using function :
def test(l):
    l1=[]
    for i in (l):
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [2]:
test(l)

[1, 2, 3, 4, 5, 6]

Here diff between using function and normal for loop : function we can use for any list /grouping and can be called for multiple time . While for loop has to be written seprately for each list/grouping

In [3]:
l1=[]

def test(a):
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j)==int or type(j)==float:
                    l1.append(j)
        if type(i) == int or type(i) == float:
            l1.append(i)
    return (l1)

In [4]:
l = [1,2,3,4,5,6,"anand","chaubey",[1,2,3,4,5,6,7,8,9,10]]

In [5]:
test(l)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
def test(a):
    l1 = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l1.append(j)
        elif type(i) == int or type(i) == float:
            l1.append(i)
    return l1

l = [1, 2, 3, 4, 5, 6, 'anand', 'chaubey', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "shankar"]]
result = test(l)
print(result)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# to get the docstring about defined function 
after calling the functon , define docstring in triple quote (""" """), it will works 
It is an standard function to write docstring for each function so that everybody can understand what is the working of the definned function

In [7]:
def test1(a):
    """ This is my first doc string"""
    l1 = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l1.append(j)
        elif type(i) == int or type(i) == float:
            l1.append(i)
    return l1

l = [1, 2, 3, 4, 5, 6, 'anand', 'chaubey', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "shankar"]]
result = test(l)
print(result)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
test1(l).__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In order to get multiple argument for defing function then write (*args) in place of defind function , and in return write args only

In [9]:
def test (*args):
    return args

In [10]:
test()

()

In [12]:
type(test())

tuple

test(1,2,3,4)

In [14]:
test(1,2,3,"anand","chaubey")

(1, 2, 3, 'anand', 'chaubey')

*args => It means n number of orguments can be passed inside any function 
note : args is not any key word , so we can use any word in place of args with * for n numbers of arguments in a given function

In [16]:
def test2(*args,a):
    return args, a

In [18]:
test2(1,2,3,4,5)

# It will show error because function is not clear about which elements belongs to *args and which is aginst a in defined function

TypeError: test2() missing 1 required keyword-only argument: 'a'

In [19]:
# to solve the above issue , if we are defining any element other than *args then we need to clerly defined that element for given function 

test2(1,2,3,4, a = 5)

((1, 2, 3, 4), 5)

In [20]:
def test3(c,d,a=23,b=34):
    return a,b,c,d

In [22]:
test3(3,4)

# here a and b is already defined so it will return the required value

(23, 34, 3, 4)

In [24]:
test3(3,4,a=2,b=1)

# here we are overwriting the defined value of a and b in given function

(2, 1, 3, 4)

# to get user input for n number of key value pair 

if we want n number of arguments in liner form then we will need to use * but in case if user wants n number of key value pair then we will have to use **

In [25]:
def test4(**kwargs):
    return kwargs

In [26]:
test4()

{}

In [27]:
type(test4())

dict

In [29]:
# to fill data in defined function with ** we need to defined key value pair 
test4(a= [1,2,3,4,5], b=("anand","shankar","chaubey",1,9,1,9), c = 45, d = 23.34, e = True)

{'a': [1, 2, 3, 4, 5],
 'b': ('anand', 'shankar', 'chaubey', 1, 9, 1, 9),
 'c': 45,
 'd': 23.34,
 'e': True}

In [30]:
# here n number of arguments can be passed when function is defined with **