map(function, iterator) : Make an iterator that computes the function using arguments from each of the iterables.  Stops when the shortest iterable is exhausted.

filter(function or none, iterator) : Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.

reduce(function, iterable[, initial]) : it will not ba available as default so needs to download from functools : Apply a function of two arguments cumulatively to the items of a sequence or iterable, from left to right, so as to reduce the iterable to a singlevalue.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates((((1+2)+3)+4)+5). 
If initial is present, it is placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty.

In [19]:
l = [1,2,3,4,5]

In [20]:
def sq(x):
    return x**2

In [21]:
# to get the sqare of element  by using external function 

list(map(sq, l))

[1, 4, 9, 16, 25]

In [22]:
# to get the sqare of element - by using lambda function

list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [23]:
# adding elements from two diff sets :

l1 = [1,2,3,4,5,10,22]
l2 = [6,7,8,9,10,11]

list(map(lambda x,y : x+y, l1, l2))

[7, 9, 11, 13, 15, 21]

In [24]:
# converting element from a string to upper case :

s = "anand"

list(map(lambda s : s.upper(), s))

['A', 'N', 'A', 'N', 'D']

In [10]:
from functools import reduce

In [11]:
# to add all the element in the given list (iterable)

l = [1,2,3,3,4,5]

reduce(lambda x,y : x+y, l)

# reduce generally reduced the total number of elements using the given function and colapsed the iterable as fina value 
# reduce wil be ale to used for only two parameter (x, y)because in the case 3 parament reduce function can not be true all the time

18

In [12]:
reduce(lambda x,y,z : x+y+z, l)

# reduce can not take three parameter

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [17]:
reduce(lambda x,y : x+y, [1])

# this is an exceptional case where reduce function will work upon and here inside of the fun if you provide iterable as sigle element then it gives that one element as result

1

In [28]:
l = [1,2,3,3,4,5]

reduce(lambda x,y : x+y, l)

18

In [29]:
l = [1,2,3,3,4,5]

reduce(lambda x,y : x*y, l)

360

In [30]:
l = [1,2,3,3,4,5]

reduce(lambda x,y : x**y, l)

1

In [32]:
# to get max out of iterator :

reduce(lambda x,y : x if x>y else y, l)

5

In [33]:
l

[1, 2, 3, 3, 4, 5]

In [36]:
# filter even numbers by using filter function :

list(filter(lambda x : x%2 ==0, l))

[2, 4]

In [37]:
# filter odd numbers by using filter function :

list(filter(lambda x : x%2 !=0, l))

[1, 3, 3, 5]

In [41]:
l1 = [-1,-2, 0,3,4,5,-11,-32,16,18,9]

# now we want to filter all the negative numbers

list(filter(lambda x : x<0, l1))

[-1, -2, -11, -32]

In [42]:
# to get all the positive numbers 

list(filter(lambda x : x>0, l1))

[3, 4, 5, 16, 18, 9]

In [43]:
l2 = ["anand", "shankar", "chaubey", "pwskill", "data", "science"]

# here we need to filter all those string hose length is less than 6

list(filter(lambda x : len(x)<6, l2))

['anand', 'data']